QUESTION 1

In [ ]:
# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 



# ANSWER 
# * is an expression 
#'Hello' is a value 
#-87.8 is a value 
# - is an expression
#/ is an expression
# + is an expression
# 6 is a value

QUESTION 2

In [ ]:
# 2. What is the difference between string and variable?

# ANSWER 
# Variable as an identifier or a name of an object to store a value in a memory location and to manipulate it if needed. For example; (A = 5), In this case A is a vraible in which value 5 is stored. 
# String is a data type assinged to a non numeric data such as text or symbol etc. For example; (A = 'How are you doing'), In this case A is a variable which is of string type.

QUESTION 3

In [ ]:
# Describe three different data types.

# ANSWER
#1. Stirng --> (Its a data type assigned to a non numeric data such as text or symbol)
#2. Float --> (Its a data type assigned to a numeric data which contain decimal value for example; 2.5, 7.8)
#3. Int --> (Its a data type assigned to a numeric data which contain whole number such as 2 or 3)

QUESTION 4

In [ ]:
# 4. What is an expression made up of? What do all expressions do?

# ANSWER 
('''An expression is a combination of  operator and a operand (value or variable). This combination gives an output for example; (10+5 = 15) In this example, + is the operator and 10 & 15 are values
and together this combination provides an output''')

# TYPES OF EXPRESSIONS:
# Constant Expressions- Expression which have constant values only.
# Arithmetic Expressions- An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis. 
# Integral Expressions- An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis. 
# Floating Expressions- These are the kind of expressions which produce floating point numbers as result after all computations and type conversions.
# Relational Expressions- In this expression, 2 or more values are compared against each other using relational expresion for example; (>=, ==, <=). 
# Logical Expressions- A logical expression performs the logical computation, and the overall expression results in either True or False (boolean result).

QUESTION 5

In [ ]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#ANSWER
spam = 10
# This is a statement where we are assigning value of 10 in a variable called spam. 
# Statement is used to declare values while expression are used to perform certain operations or calculations on values(operands).

QUESTION 6

In [6]:
# After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

# After running the code, the final output will be 23 but the value of bacon will be still 22 because we are not storing (bacon+1) in a bacon variable. We are just doing this calculation but not storing it somewhere.

23

QUESTION 7

In [32]:
# What should the values of the following two terms be?
A = 'spam' + 'spamspam'
print("the value of first term is ", A)


B = 'spam' * 3
print("the value of first term is ", B)

the value of first term is  spamspamspam
the value of first term is  spamspamspam

QUESTION 8

In [ ]:
# 8. Why is eggs a valid variable name while 100 is invalid?

#ANSWER 
# Eggs can be a valid variable because it is string and string can be used for assigning the variable name but numbers cannot be used for assigning varaible name. 
# A variable can be a alpha-anumeric but cannot star with numbers. A vairbale can start with _ or a alphabet.

QUESTION 9

In [22]:
# What three functions can be used to get the integer, floating-point number, or string version of a value?

#ANSWER 

A  = 10

# To convert A to integer, we will use int 
A = int(A)
print(type(A))

# To convert A to string we will use str 

B = str(A)
print(type(B))


# To convert A to float we will use float 

C = float(A)
print(type(C))

# This process is called type casting where can type cast any variable using str, int and float function

<class 'int'>
<class 'str'>
<class 'float'>

QUESTION 10

In [ ]:
# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

# ERROR - TypeError: can only concatenate str (not "int") to str
# As per above error, we can only concatenate string object with another string object. Since, 99 is int object, it is not allowing us to concatenate it with sting. 
# In order to run the above statement, we have to typecast 99 from int to str using str( function)

In [31]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'